<nav class="navbar navbar-fixed-top" role="navigation">
 	<div class="container" style="position: relative; top: 0; left: 0">

 		<a class="navbar-brand" ng-href="/"><img  class="logo-img" ng-src="{{'images/lltv_logo_final.png'}}"/></a>
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="true">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse pull-right homepage-nav-links" id="navbarCollapse">
	      <ul class="nav navbar-nav">

    			<li data-toggle="collapse" data-target=".in" id="sign-up-bubble" ng-controller="AuthModalCtrl" class='sign_up_in'>
    				<a><div style="cursor: pointer;" ng-click="openModal('register')">Sign Up</div></a>
    			</li>

          <li data-toggle="collapse" data-target=".in" ng-controller="AuthModalCtrl" class='sign_up_in'>
    				<a><div ng-click="openModal(signin)">Sign In</div></a>
    			</li>

          <li data-toggle="collapse" data-target=".in" id='signedIn' style="margin: 0;"></li>

          <li data-toggle="collapse" data-target=".in"><a ui-sref="categories.show">Services</a></li>

          <li data-toggle="collapse" data-target=".in"><a ui-sref="teachPage">Teach</a></li>

          <li data-toggle="collapse" data-target=".in"><a ui-sref="categories.show">Library</a></li>

          <li data-toggle="collapse" data-target=".in" ng-controller="searchModalCtrl">
            <a ng-click="openSearch()"><i class="fa fa-search" style="font-size: 18px;"></i></a>
            <a class="nav-search-text" ng-click="openSearch()">Search</a>
          </li>

	      </ul>
			<!-- <li ng-show='true'><div ng-click="signOut()">Sign Out</div></li> -->
	    </div>

      <!-- <div class="icon-menu">
						<i class="fa fa-bars fa-2x"></i>
			</div> -->
  	</div>
</nav>

<script>
$(document).on('click',function(){
  $('.collapse').collapse('hide');
})
</script>
