<div class="search-modal">

  <div class="row">
    <img src="/images/LLTV_x.png" class="search-modal-close pull-right" ng-click="closeSearch()" style="cursor: pointer;">
  </div>

  <div class="row">
    <h3 class="search-modal-title">search</h3>
  </div>

  <div class="custom-typehead">
    <input type="text" class="form-control search-input"
        ng-model="selected"
        uib-typeahead="searchTitle as searchData.title for searchData in getSearch($viewValue) | filter:$viewValue:startsWith"
        typeahead-template-url="typeahead-item.html"
        typeahead-min-length="3"
        typeahead-on-select="onSelect($item, $model, $label)" autofocus/>
  </div>

  <script type="text/ng-template" id="typeahead-item.html">
    <div class="typeahead-group-header" ng-if="match.model.firstInGroup">{{match.model.group}}</div>
    <a>
      <span ng-bind-html="match.label"></span>
    </a>
  </script>

</div>
