<div class="search-modal">
  <div class="">
    Search
  </div>
  <div>
    <img src="/images/LLTV_x.png" class="auth-close pull-right" ng-click="closeSearch()" style="cursor: pointer;">
  </div>

  <div class="custom-typehead">
    <input type="text" class="form-control search-input"
        ng-model="selected"
        uib-typeahead="searchTitle as searchData.title for searchData in getSearch($viewValue) | filter:$viewValue:startsWith"
        typeahead-template-url="typeahead-item.html"
        typeahead-min-length="2"
        typeahead-on-select="onSelect($item, $model, $label)" autofocus/>
  </div>

  <script type="text/ng-template" id="typeahead-item.html">
    <div class="typeahead-group-header" ng-if="match.model.firstInGroup">{{match.model.group}}</div>
    <a>
      <span ng-bind-html="match.label"></span>
    </a>
  </script>

</div>
  <!-- <ul ng-repeat="cats in searchCategories">
    <li>{{cats.title}}</li>
  </ul> -->

  <!-- <div class="widget">
    <label for="tags">Tags: </label>
    <input id="tags" ng-keyup="complete()"/>
  </div> -->

  <!-- <ul ng-repeat="courses in searchCourses">
    <li>{{courses.title}}</li>
  </ul> -->


  <!-- <ul ng-repeat="courses in searchCourseTest">
    <li>{{courses.title}}</li>
  </ul>

  <ul ng-repeat="cats in searchCatTest">
    <li>{{cats.title}}</li>
  </ul> -->

  <!-- <ul ng-repeat="result in searchResults">
    <li>{{result.title}}</li>
  </ul> -->


  <!-- <div class="custom-typehead">
    <input type="text" ng-model="selected" placeholder="search a course"
    uib-typeahead="items for items in searchResults | filter:$viewValue:startsWith" typeahead-loading="loadingLocations"
    typeahead-no-results="noResults" typeahead-template-url="searchResults.html"
    typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="1" class="form-control" ng-init="">
  </div>

  <script type="text/ng-template" id="searchResults.html">
    <div>
        <div>

          {{match.label}}

        </div>

    </div>
  </script> -->


  <!-- <div class="custom-typehead">
    <input type="text" ng-model="selected" placeholder="search a course"
    uib-typeahead="test as courses.title for courses in searchResults | filter:$viewValue:startsWith" typeahead-loading="loadingLocations"
    typeahead-no-results="noResults" typeahead-template-url="searchResults.html"
    typeahead-on-select="onSelect($item, $model, $label)" typeahead-min-length="3" class="form-control" ng-init="">
  </div>



</div>
<script type="text/ng-template" id="searchResults.html">
  <div>
      <div ng-show="match.model.id == 1 && match.model.hasOwnProperty('parent_id')">Category
      </div>
      <div ng-show="match.model.id == 3 && match.model.hasOwnProperty('chapters')"> Courses</div>
      <span ng-bind-html="match.label"></span>

  </div>
</script> -->
