<div class="col-sm-12 homepage-category-row">

  <div class="row homepage-courses-row" style="display: block;">

    <div class="popCourse-section" ng-repeat="course in courses">

      <div class="col-sm-3 homepage-course-box">
        <div class="row" style="margin:0;">
          <div class="course-img" ng-style="{'background-image':'url({{course.banner_url}})'}"></div>
          <div class="author-avatar" ng-style="{'background-image':'url({{course.author.avatar}})'}"></div>
        </div>
        <div class="row" style="margin:0;">
          <a ui-sref="courses.show({id: course.id})" class="homepage-course-title">{{course.title}}</a>
        </div>
        <div class="row homepage-course-last-row">
          <p class="author-name">{{course.author.full_name}}</p>
          <p class="course-duration">{{course.duration | secondsToHHMM | date: "H'H' mm'M'"}}</p>
        </div>
      </div>

    </div>

  </div>

</div>

<!--
<div class="row" style="margin: 0;">
  <div class="col-sm-12 homepage-category-row" ng-class="{'homepage-category-row-color' : ($index+1) % 2}">

    <div class="row homepage-courses-row">

      <div class="popCourse-section" ng-repeat="course in category.courses">

        <div class="col-sm-3 homepage-course-box">
          <div class="row" style="margin:0;">
            <div class="course-img" ng-style="{'background-image':'url({{course.banner_url}})'}"></div>
            <div class="author-avatar" style="background-image: url('../images/1.jpg')"></div>
          </div>
          <div class="row" style="margin:0;">
            <a ui-sref="courses.show({id: course.id})" class="homepage-course-title">{{course.title}}</a>
          </div>
          <div class="row homepage-course-last-row">
            <p>{{course.author.full_name}}</p>
            <p>{{course.duration | secondsToHHMM | date: "H'H' mm'M'"}}</p>
          </div>
        </div>

      </div>

    </div>

  </div>

</div> -->






<!-- <div class="row"> -->

  <!-- <div ng-repeat="course in courses"  class="test" style="display: inline;">

    <div class="row" style="margin: 0;">
      <div class="col-sm-12 thumbnail-description-container">

        <div class="row" style="margin: 0;">
          <div class="col-sm-4" style="padding: 0;">

            <div class="category-video-thumbnail" ng-style="{'background-image':'url({{course.banner_url}})'}">

              <a ui-sref="courses.show({id: course.id})">
                <div class="category-thumbnail-overlay">


                  <div class="playbtn-overlay">
                    <img ng-src="{{'images/LLTV_thumbnail_play_btn.png'}}" style="width: 50px; height: 50px"/>
                  </div>

                  <div class="category-course-title cat-course-title-overlay">
                    {{course.title}}
                  </div>
                </div>

              </a>
            </div>



            </div>

        <div class="col-sm-8" style="padding: 0;">
          <div class="category-course-video-details">
            <div class="row" style="margin: 0;">
              <a ui-sref="courses.show({id: course.id})" class="course-video-title">
                {{course.title | limitTo: 44}}{{course.title.length > 44 ? '...' : ''}}
              </a>
            </div>

            <div class="row" style="margin: 0;">
              <p class="course-video-details">
                {{course.details | limitTo: 146}}{{course.details.length > 146 ? '...' : ''}}
              </p>
            </div>

            <div class="row" style="margin: 0;">
              <p class="course-video-author">by: {{course.author.full_name}}</p>
              <p class="course-video-duration">{{ course.duration | secondsToHHMM | date: "H'H' mm'M'" }}</p>
            </div>

          </div>
          </div>
        </div>

      </div>
    </div>

  </div> -->

<!-- </div> --><!-- end of row -->
