<div class="col-sm-12 homepage-category-row">

  <div class="row homepage-courses-row category-courses-list" style="display: block;">

    <!-- <div class="popCourse-section" ng-repeat="course in courses"> -->

      <div class="col-sm-3 homepage-course-box category-course-box" ng-repeat="course in courses" ui-sref="courses.show({id: course.id})">
        <div class="row" style="margin:0;">
          <div class="course-img" ng-style="{'background-image':'url({{course.banner_url}})'}"></div>
          <div class="author-avatar" ng-style="{'background-image':'url({{course.author.avatar}})'}"></div>
        </div>
        <div class="row" style="margin:0;">
          <a ui-sref="courses.show({id: course.id})" class="homepage-course-title">{{course.title}}</a>
        </div>
        <div class="row homepage-course-last-row">
          <p class="author-name">{{course.author.full_name}}</p>
          <p class="course-duration">{{course.duration | secondsToHHMM | date: "H'H' mm'M'"}}</p>
        </div>
      </div>

    <!-- </div> -->

  </div>

</div>
