<footer class="homepage-footer" ng-controller="FooterCtrl">
  <div class="row footer-first-row">
    <div class="col-sm-4" style="padding: 0;">
      <img  class="logo-footer-img" ng-src="{{'images/lltv_logo_final.png'}}"/>
    </div>
    <div class="col-sm-8" style="padding: 0;">

     <div class="footer-list">
       <div class="row footer-list-first-row">
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="aboutPage">about</a></div>
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="contactPage">contact</a></div>
         <div class="col-sm-3" style="padding: 0;" ng-controller="AuthModalCtrl">
           <a ng-click="isLoggedIn()">account</a>
         </div>
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="pressPage">press center</a></div>
       </div>

       <div class="row footer-list-second-row">
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="faqPage">faq</a></div>
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="redeemPage.show">buy/redeem gift</a></div>
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="privacyPage">privacy/cookies</a></div>
         <div class="col-sm-3" style="padding: 0;"><a ui-sref="termsPolicyPage">terms of use</a></div>
       </div>
     </div>

   </div>
  </div>

  <div class="row footer-second-row">
    <div class="col-sm-8 col-sm-offset-4" style="padding: 0;">
      <p>subscribe to our newsletter</p>
      <form ng-submit="emailSubscription(subsFrom)" role="form" ng-init="subsFrom = {};" class="form-inline">
        <div class="form-group">
          <label for="visitorEmail" style="display: none;">Email</label>
          <input type="email" class="form-control" id="visitorEmail" placeholder="Email Address" ng-model="subsFrom.email">
        </div>
        <button type="submit" class="bubble-btn submit-btn">Subscribe</button>
      </form>

    </div>
  </div>

  <div class="row footer-third-row">
    <div class="col-sm-8 col-sm-offset-4" style="padding: 0;">
      <p>copyright © 2009 - 2016 lltv llc. all rights reserved</p>
      <ul class="social-media-list">
        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>

</footer>
