<div class="chapter-tabs">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs chapter-tabs-ul" role="tablist">
    <li role="presentation" class="active">
      <a href="#table-contents" aria-controls="table-contents" role="tab" data-toggle="tab">Table of contents</a>
    </li>
    <li role="presentation">
      <a href="#video-details" aria-controls="video-details" role="tab" data-toggle="tab">Video Details</a>
    </li>
    <li role="presentation">
      <a href="#transcript" aria-controls="transcript" role="tab" data-toggle="tab">Transcript</a>
    </li>
    <li role="presentation" ><a href="#faqs" aria-controls="faqs" role="tab" data-toggle="tab">FAQs</a></li>
    <li role="presentation">
      <a href="#exercise-files" aria-controls="exercise-files" role="tab" data-toggle="tab">Exercise Files</a>
    </li>
    <li role="presentation" style='padding-right: 0px; margin-right: 0px'>
      <a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content" style="margin-bottom: 0;">
      <div role="tabpanel" class="tab-pane active" id="table-contents">
        <div class="tab-inner-panel">
          <div class="course-chapters">
          <a href="">
            <div class="chapter-index-row" ng-repeat='chapter in course.chapters'>
              <div class="chapter-index-element">
              <!-- <div class="chapter-index-element" ng-click="chapter_title = !chapter_title"> -->
                  <span id='chapter_position'>{{chapter.title}} </span>
                  <!-- <span id='chapter_position'> ch {{chapter.position}} </span> -->
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color: #999;font-size: 10px; float: right;" ng-show="!chapter_title"></span>
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="color: #999;font-size: 10px; float: right;" ng-show="chapter_title"></span>
                  <span id="chapter_duration">{{chapter.duration | secondsToHHMM | date: "m'M' s'S'"}}</span>
              </div>
          </a>

            <!-- <div class="chapter-index" ng-show="chapter_title">
              <div class="chapter-index-element index-title-row">
                <a ng-href='#' ng-click="chapters(chapter.position)">{{chapter.title}}</a>
              </div>
            </div> -->

          </div>
        </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="video-details">
        <div class="tab-inner-panel">
          <h5>{{chapter.title}}</h5>
          <p>{{chapter_video.details}}</p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="transcript">
        <h5>Tutorial Transcript</h5>
        <p>{{chapter_video.transcript}}</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="exercise-files">
        <h5>Exercise Files</h5>
      </div>
      <div role="tabpanel" class="tab-pane" id="discussion">
        <h5>Discussion</h5>
      </div>
      <div role="tabpanel" class="tab-pane" id="faqs">
        FAQs
        <p>{{chapter_video.faqs}}</p>
      </div>
  </div>
</div>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Collapsible Group Item #1
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>
</div>
