<div class="chapter-tabs">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs chapter-tabs-ul" role="tablist">
    <li role="presentation" class="active">
      <a data-target="#table-contents" aria-controls="table-contents" role="tab" data-toggle="tab">Table of contents</a>
    </li>
    <li role="presentation">
      <a data-target="#video-details" aria-controls="video-details" role="tab" data-toggle="tab">Video Details</a>
    </li>
    <li role="presentation">
      <a data-target="#transcript" aria-controls="transcript" role="tab" data-toggle="tab">Transcript</a>
    </li>
    <li role="presentation" ><a data-target="#faqs" aria-controls="faqs" role="tab" data-toggle="tab">FAQs</a></li>
    <li role="presentation">
      <a data-target="#exercise-files" aria-controls="exercise-files" role="tab" data-toggle="tab">Exercise Files</a>
    </li>
    <li role="presentation" style='padding-right: 0px; margin-right: 0px'>
      <a data-target="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content" style="margin-bottom: 0;">
      <div role="tabpanel" class="tab-pane active" id="table-contents">
        <div class="tab-inner-panel">
          <div class="course-chapters">
            <div class="chapter-index-row" ng-repeat='chapter in course.chapters'>
              <div class="chapter-index-element">
              <!-- <div class="chapter-index-element" ng-click="chapter_title = !chapter_title"> -->
                  <span id='chapter_position'>{{chapter.title}} </span>
                  <!-- <span id='chapter_position'> ch {{chapter.position}} </span> -->
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color: #999;font-size: 10px; float: right;" ng-show="!chapter_title"></span>
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="color: #999;font-size: 10px; float: right;" ng-show="chapter_title"></span>
                  <span id="chapter_duration">{{chapter.duration | secondsToHHMM | date: "m'M' s'S'"}}</span>
              </div>

            <!-- <div class="chapter-index" ng-show="chapter_title">
              <div class="chapter-index-element index-title-row">
                <a ng-href='#' ng-click="chapters(chapter.position)">{{chapter.title}}</a>
              </div>
            </div> -->

          </div>
        </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="video-details">
        <div class="tab-inner-panel">
          <h5>{{chapter.title}}</h5>
          <p>{{chapter_video.details}}</p>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="transcript">
        <h5>Tutorial Transcript</h5>
        <p>{{chapter_video.transcript}}</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="exercise-files">
        <h5>Exercise Files</h5>
      </div>
      <div role="tabpanel" class="tab-pane" id="discussion">
        <h5>Discussion</h5>
      </div>
      <div role="tabpanel" class="tab-pane" id="faqs">
        FAQs
        <p>{{chapter_video.faqs}}</p>
      </div>
  </div>
</div>

<!-- accordion -->
<div class="accordion-container" id="accordion2">
  <div class="accordion-section">
    <div class="accordion-header" data-toggle="collapse" data-parent="#accordion2"
    data-target="#tableOfContetnsAccordion">
      <!-- <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
      data-target="#tableOfContetnsAccordion"> -->
        table of contents
        <span class="glyphicon glyphicon-plus colored-bar-plus-icon" aria-hidden="true">
      <!-- </a> -->
    </div>
    <div id="tableOfContetnsAccordion" class="accordion-details collapse">
      <div class="accordion-inner">

        <div class="course-chapters">
          <div class="chapter-index-row" ng-repeat='chapter in course.chapters'>
            <div class="chapter-index-element">
            <!-- <div class="chapter-index-element" ng-click="chapter_title = !chapter_title"> -->
              <span id='chapter_position'>{{chapter.title}} </span>
              <!-- <span id='chapter_position'> ch {{chapter.position}} </span> -->
              <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color: #999;font-size: 10px; float: right;" ng-show="!chapter_title"></span>
              <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="color: #999;font-size: 10px; float: right;" ng-show="chapter_title"></span>
              <span id="chapter_duration">{{chapter.duration | secondsToHHMM | date: "m'M' s'S'"}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="accordion-section">
    <div class="accordion-header" data-toggle="collapse" data-parent="#accordion2"
    data-target="#videoDetailsAccordion">
      <!-- <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
      data-target="#videoDetailsAccordion"> -->

        Video Details
        <span class="glyphicon glyphicon-plus colored-bar-plus-icon" aria-hidden="true">

      <!-- </a> -->
    </div>
    <div id="videoDetailsAccordion" class="accordion-details collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <div class="accordion-header" data-toggle="collapse" data-parent="#accordion2"
      data-target="#transcriptAccordion">
        transcript
        <span class="glyphicon glyphicon-plus colored-bar-plus-icon" aria-hidden="true">
    </div>
    <div id="transcriptAccordion" class="accordion-details collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <div class="accordion-header" data-toggle="collapse" data-parent="#accordion2"
      data-target="#faqAccordion">
        faqs
        <span class="glyphicon glyphicon-plus colored-bar-plus-icon" aria-hidden="true">
    </div>
    <div id="faqAccordion" class="accordion-details collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <div class="accordion-header" data-toggle="collapse" data-parent="#accordion2"
      data-target="#exerciseAccordion">
        exercise files
        <span class="glyphicon glyphicon-plus colored-bar-plus-icon" aria-hidden="true">
    </div>
    <div id="exerciseAccordion" class="accordion-details collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>

  <div class="accordion-section">
    <div class="accordion-header" data-toggle="collapse" data-parent="#accordion2"
      data-target="#discussionAccordion">
        discussion
        <span class="glyphicon glyphicon-plus colored-bar-plus-icon" aria-hidden="true">
    </div>
    <div id="discussionAccordion" class="accordion-details collapse">
      <div class="accordion-inner">
        Anim pariatur cliche...
      </div>
    </div>
  </div>

</div>

<!-- <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  simple collapsible
</button>

<div id="demo" class="collapse">one</div>

<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo2">
  simple collapsible
</button>

<div id="demo2" class="collapse">two</div>

<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo3">
  simple collapsible
</button>

<div id="demo3" class="collapse">three </div> -->
