<div class="col-md-12">
  <div class="row course-info-content">
    <div class="col-md-4">
      <div class="col-md-12 course-info-data">
        <div class="row">
          <div class="course-info-title">
            <h2>{{course.title}}</h2>
          </div>
        </div>
        <div class="row"> 
          <div class="course-info-details">
            <p>{{course.details}}</p>
            <!-- <p> video: {{course.video.video_url}}</p> -->
            <p><span class="course-details">LEVEL:</span> {{course.level}}</p>
            <p><span class="course-details">DURATION:</span> {{course.duration}}m</p>
            <p><span class="course-details">RELEASED:</span> {{course.released_on | date : 'MMM d, y'}}</p>
            <div display: "inline-block">
              <img src="{{course.author.avatar_file_name}}" alt="">
              <span class="course-details">BY:</span><span class="author-name"> {{course.author.first_name}} {{course.author.last_name}} </span>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="course-video">
          <video id="my-video" class="video-js" controls preload="auto" width="100%" poster="{{course.banner_url}}" data-setup="{}">
            <source ng-src="{{'/videos/Vi1.mp4'}}" type='video/mp4'>
            <p class="vjs-no-js">
              To view this video please enable JavaScript, and consider upgrading to a web browser that
              <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
          </video>
          <!--<img src="{{course.banner_url}}" class="course-banner" style="width: 100%;">-->
        </div>
      </div>
    </div>
  </div>
  <div class="row course-chapter-content">
    <div class="col-md-4">
      <div class="col-md-12 course-chapter-index">
        <div class="row">
          <h6>
            <span class="exp-coll-all" style="float: left;">
              <a href="#" id="exp-all" ng-click="expAll()">EXPAND ALL</a>
            </span>
          </h6>
          <h6>
            <span class="exp-coll-all" style="float: left;padding: 0 0 0 60px">
              <a href="#" id="coll-all" ng-click="collAll()">COLLAPSE ALL</a>
            </span>
          </h6>
        </div>
        <div class="row">
          <div class="chapters">
            <div class="chapter-index-row">
              <div class="chapter-index-element" style="width: 50%;">
                <p>CH {{course.chapter.position}}</p>
              </div>
              <div class="chapter-index-element chapter-duration"  style="width: 50%;">
                <small>{{course.chapter.duration | secondsToHHMM | date:'HH:mm:ss'}}</small>
                <a ng-click="chapter_title_1 = !chapter_title_1" href="">
                  <span class="glyphicon glyphicon-menu-up" aria-hidden="true" style="color: #ffffff;font-size: 10px;" ng-show="chapter_title_1"></span>
                  <span class="glyphicon glyphicon-menu-down" aria-hidden="true" style="color: #ffffff;font-size: 10px;" ng-show="!chapter_title_1"></span>
                </a>
              </div>
            </div>
            <div class="chapter-index" ng-show="chapter_title_1">
              <div class="chapter-index-element index-title-row">
                <a ng-click=""><small>{{course.chapter.title}}</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chapter-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#video-details" aria-controls="video-details" role="tab" data-toggle="tab">Video Details</a></li>
          <li role="presentation"><a href="#transcript" aria-controls="transcript" role="tab" data-toggle="tab">Transcript</a></li>
          <li role="presentation"><a href="#exercise-files" aria-controls="exercise-files" role="tab" data-toggle="tab">Exercise Files</a></li>
          <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a></li>
          <li role="presentation"><a href="#faqs" aria-controls="faqs" role="tab" data-toggle="tab">FAQs</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="video-details">
            <h5>{{course.title}}</h5>
            <p>&nbsp;</p>
            <h5>Viewers: 400</h5>
            <p>&nbsp;</p>
            <p>{{course.video.details}}</p>
          </div>
          <div role="tabpanel" class="tab-pane" id="transcript">
            <h5>Tutorial Transcript</h5>
          </div>
          <div role="tabpanel" class="tab-pane" id="exercise-files">
            <h5>Exercise Files</h5>
          </div>
          <div role="tabpanel" class="tab-pane" id="dicussion">
            <h5>Discussion</h5>
          </div>
          <div role="tabpanel" class="tab-pane" id="faqs">
            FAQs
          </div>
        </div>
      </div>
    </div>
  </div>
</div>