<div style="width: 100%; height: 95px;"></div><!-- add height behind navbar-->
<div class="col-md-12">
  <div class="row course-info-content">
    <div class="col-md-4">
      <div class="col-md-12 course-info-data">
        <div class="row course-info-row">
          <div class="course-info-title">
            <h2>{{course.title}}</h2>
          </div>
          <div class="course-info-details">
            <p>{{course.details}}</p>
            <!-- <p> video: {{course.video.video_url}}</p> -->
          </div>
          <div class='course-info-ldr'>

            <div class='course-info-static-ldr'>
              <ul>
                <li>level:</li>
                <li>duration:</li>
                <li>released:</li>
              </ul>
            </div>
            <div class='course-info-dynamic-ldr'>
              <ul>
                <li>{{ course.level }}</li>
                <li>{{ course.duration }}</li>
                <!-- <li>{{ course.released_on }}</li> -->
                <li> 25/15/2015 </li>
              </ul>
            </div>
            <br>
          </div>
          <!-- <div class='course-profile'>
            <div class='course-profile-img'>
                <img src="/assets/{{course.author.avatar_file_name }}">
            </div>
            <div class="course-profile-info">
              <i class="fa fa-facebook-official"></i>
              <span>by: </span> {{ course.author.first_name + " " + course.author.last_name }}
            </div>
          </div>
          <div class='course-profile-social'>
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-google-plus-square"></i>
          </div> -->
        </div> <!-- end of row course-info-row-->
      </div> <!-- end of col-md-12 -->
    </div> <!-- end of col-md-4 -->
    <!-- VIDEO -->
    <div class="col-md-8">
      <div ui-view="chapterVideo"></div>
    </div>
    <!-- VIDEO -->
  </div> <!-- end of row course-info-content -->
  <div class="row course-chapter-content">
    <div class="col-md-4 course-chapter-box">
      <div class="col-md-12 course-chapter-index">
        <div class="row course-chapter-search">
          <p>
            <a class="search-field" ng-click="search_title = !search_title" href="">
              <i class="fa fa-search" style="font-size: 18px;"></i>
              <span ng-show="!search_title"> search this course </span>
            </a>

            <span ng-show="search_title" class='blinking-cursor'>
              <input name='search' type="text"/>
            </span>
          </p>
        </div>
        <div class="row course-chapter-collaps">
          <h6>
            <span class="exp-coll-all">
              <a href="#" id="exp-all" ng-click="expAll()">expand all</a>
            </span>
            <!-- <span class="exp-coll-all">
              <a href="#" id="coll-all" ng-click="collAll()">collapse all</a>
            </span> -->
          </h6>
        </div>

        <div class="row course-chapters-list">
          <div class="course-chapters">
          <a href="">
            <div class="chapter-index-row" ng-repeat='chapter in course.chapters'>
              <div class="chapter-index-element" ng-click="chapter_title = !chapter_title">
                  <span id='chapter_position'> ch {{chapter.position}} </span>
                  <span id="chapter_duration">{{chapter.duration | secondsToHHMM | date:'HH:mm:ss'}}</span>
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" style="color: #ffffff;font-size: 10px;" ng-show="chapter_title"></span>
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" style="color: #ffffff;font-size: 10px;" ng-show="!chapter_title"></span>
              </div>
          </a>

            <div class="chapter-index" ng-show="chapter_title">
              <div class="chapter-index-element index-title-row">
                <a ng-href='#' ng-click="chapters(chapter.position)">{{chapter.title}}</a>
              </div>
            </div>

          </div>
        </div>
        </div>

      </div>
    </div>
    <!-- chapter deails -->
    <div class="col-md-8 course-chapter-tab-box">
        <div ui-view="chapterDetails"></div>
    </div>
    <!-- CD END -->
  </div>
</div>

<script>
    $('input[placeholder]').each(function(){
        $(this).data('placeholder', $(this).attr('placeholder'));
    });
    setInterval(function () {
        $('input[placeholder]').attr('placeholder', function () {
            this.toggle = !this.toggle;
            return this.toggle ? $(this).data('placeholder') : "";
        });
    }, 1000);
</script>

<script>
// var video = document.getElementById('my-video');
// video.addEventListener('click',function(){
//     if (video.paused) {
//         video.play();
//     }else{
//         video.pause();
//     }
// },false);

// var vid = $('video');
// var vid2 = $('.player-button');
// var width = vid.width();
// var height = vid.height();
// console.log(width, width/2);
// console.log(height, height/2);
// x = vid2.html('<h1 style="width:'+width/2+'; height:'+height/2+'>HELLO</h1>')
// console.log(x);
</script>
