<h4> Add New Video</h4>
<%= link_to 'Add Video', new_video_path %>
<hr>
<h1>Videos ALL</h1>

<% @videos.each_with_index do |video, index| %>
	<%#= link_to "#{index}: #{video.title}", video %> <%#= link_to 'DELETE', video, method: :delete %>

	<%= link_to video.title, video %> | <%= link_to "edit", edit_video_path(video) %><br>
<% end %>