<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @email_diget.email %>
</p>

<%= link_to 'Edit', edit_email_diget_path(@email_diget) %> |
<%= link_to 'Back', email_digets_path %>
