.category-img-section, .category-pop-new-row{
  margin: 0 auto;
  max-width: 1400px;
}

.category-img-container{
  width: 25%;
  float: left;
}

.category-img-container a div{
  /*padding: 0 10px;*/
  padding: 0 0.9375rem;
  margin-bottom: 20px;
}

/*.category-img-section div.category-img-container:first-child a div{ padding-left: 20px;}

.category-img-section div.category-img-container:nth-child(4) a div{ padding-right: 20px;}
.category-img-section div.category-img-container:nth-child(5) a div{ padding-left: 20px;}


.category-img-section div.category-img-container:last-child a div{ padding-right: 20px;}*/


.category-img-container a div img{
  width: 100%;
  display: block;
  margin: auto;
  height: auto;
}

/*popular new columns css*/
/*.category-pop-column{ padding: 0 10px 0 20px;}

.category-new-column{ padding: 0 20px 0 10px;}*/

.category-pop-column, .category-new-column{
  text-transform: uppercase;
  color: #5d5d5d;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 0 0.9375rem;
}

.category-pop-new-container{
  background: #f4f4f4;
  padding-bottom: 30px;
}

.category-pop-new-container h3{
  font-weight: 700;
  font-size: 12px;
}

.category-pop-new-container > h3{
  text-align: center;
  padding-top: 20px;
  margin: 0;
  font-size: 12px;
}

.category-pop-new-container ul li{
  display: inline;
  color: #999;
  font-weight: 700;
  padding-right: 15px;
}

.pop-new-course-row{
  padding: 0 15px 10px;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (max-width: 768px){
  .category-img-container{ width: 50%;}
}
