
.course-info-row{
	padding: 50px;
	padding-bottom: 20px;
	/*margin-top: -50px;*/
}
.course-info-title{
	font-family: Avenir-Black;
	text-transform: capitalize;
	padding-bottom: 10px;
	margin-top: -50px;
	font-size: 36px;
	color: #FFF;
}

.course-info-details{
	font-family: Avenir-Book;
	font-size: 15px;
	line-height: 30px;
	color: #FFF;
}

.course-info-content{
	background: #000;
	color: #FFF;
}

.course-info-ldr{
	margin-top: 35px;
	font-size: 13px;
	line-height: 30px;
	display: inline;
}

.course-info-static-ldr{
	text-transform: uppercase;
	font-family: Avenir-Black;
	color: #787D7F;
	margin-right: 40px;
	display: inline-block;
}

.course-info-dynamic-ldr{
	color: #FFF;
	font-family: Avenir-Book;
	display: inline-block
}

.course-profile{
	width: 100%;
	margin-top: 20px;
	display: block;
	color: #FFF;
}
.course-profile-img{
	font-size: 13px;
	/*width: 20%;*/
	margin-right: 15px;
	display: inline-block;
}
.course-profile-img img{
	width: 60px;
	border-radius: 500px;
}

.course-profile-info{
	/*width: 80$;*/
	/*margin-left: 15px;*/
	display: inline-block;
	text-transform: uppercase;
}
.course-profile-info span{
	font-family: Avenir-Black;
	color: #787D7F;
}

.course-profile-social{
	float: right;
	padding-top: 20px;
}

.course-profile-social > i{
	margin-left: 5px;
	font-size: 20px;
	color: #787D7F;
	background: #222628;
	border: 2px solid #222628;
}

.course-video{
    position:relative;
}

.course-video > video {
	margin-bottom: -6px;
	width: 100%;
	max-width: 1000px;
	min-width: 500px;
	display: block;
}
.player-button{
	font-size: 120px;
}

.course-chapter-box{
	padding: 0;
}

.course-chapter-index{
	height: 500px;
	background: #222628;
	padding: 0 45px;
	overflow: auto;
	padding-bottom: 80px;
}

.course-chapter-search{
	color: #FFF;
	height: 70px;
	border-bottom: 1px solid #353A3D;
}

.course-chapter-search > p {
	margin-top: 24px;
	margin-left: 20px;
}

.course-chapter-search > p > a{
	text-decoration: none;
	width: 20px;
}

.course-chapter-search > p > a > i{
	margin-right: 10px;
	font-size: 25px;
}

.course-chapter-search > p > a > span {
	text-transform: uppercase;
	font-family: Avenir-Black;
	font-size: 13px;
	margin-right: 10px;
}

.course-chapter-search > p > span > input {
	text-transform: uppercase;
	font-family: Avenir-Black;
	font-size: 12px;
	padding: 0 6px;
	width: 75%;
	max-width: 300px;
	height: 27px;
	border: none;
	color: #FFF;
	background: #222628;
}

.course-chapter-search > p > span > input[type="text"]::-webkit-input-placeholder {
   color: #787D7F;
}

.course-chapter-collaps{
	font-family: Avenir-Black;
	text-transform: uppercase;
	font-size: 13px;
}

#exp-all{
	margin-right: 53%;
}

@media screen and (max-width: 1230px) {
	.course-chapter-collaps #exp-all{
		margin-right: 38%;
	}
}

.course-chapter-tab-box{
	padding-right: 0;
}

.chapter-tabs{
	background: #2E3335;
	color: #ffffff;
	margin-left: -15px;
	padding: 0 20px;
	height: 500px;
}

.chapter-tabs

.chapter-tabs h5{
	text-transform: uppercase;
}

.nav-tabs{
	margin-left: 10px;
	height: 70px;
}

.chapter-tabs-ul{
	width: 100%;
	padding-right: 0px;
}

.chapter-tabs-ul > li {
	font-family: Avenir-Black;
	font-size: 13px;
	color: #787D7F;
	margin-top: 18px;
	margin-right: 10%;
}

@media screen and (max-width:1160px) {
	.chapter-tabs-ul > li {
		margin-right: 7%;
	}
}

@media screen and (min-width: 2000px) {
	.chapter-tabs-ul > li {
		margin-right: 6%;
	}
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	color: #ffffff;
    cursor: default;
    background-color: transparent;
    text-transform: uppercase;
    border: 0;
}

.nav-tabs > li > a:hover{
	color: #ffffff;
	background-color: transparent;
	border: 0;
}

.nav-tabs > li > a{
	border: 0;
	color: #787D7F;
	text-transform: uppercase;
	background-color: transparent;
	padding: 10px 2px;
}

.nav-tabs {
    border-bottom: 1px solid #353A3D;
}


@media screen and (min-width: 1500px) {
	.tab-content{
		/*width: 900px;*/
		margin: 50px 10px 0;
		padding-bottom: 0px;
	}
}

.tab-panel{
	font-family: Avenir-Book;
	font-size: 15px;
	line-height: 30px;
	color: #FFF;
}

.tab-content{
	margin-top: 50px;
	margin-left: 10px;
	min-height: 350px;
	margin-bottom: 50px; /*add space to white section on homepage */
}

.tab-inner-panel{
	font-family: Avenir-Book;
	font-size: 13px;
	color: #FFF;
}

/*.exp-all{
	font-family: Avenir-Black;
	text-transform: uppercase;
	font-size: 13px;
	color: #787D7F;
}*/

.course-chapter-content .exp-coll-all a{
	float: left;
	text-decoration: none;
	color: #787D7F;
}

.course-chapters{
	padding: 20px 0;
}

.chapter-index-row{
	padding-top: 8px;
	height: 52px;
	clear: both;
	border-bottom: 1px solid #353A3D;
}

.course-chapter-content a{
	color: #ffffff;
}

#chapter_position{
	margin-right: 62%;
}

#chapter_duration{
	margin-right: 20px;
	color: #787D7F;
}

@media screen and (max-width: 1230px) {
	#chapter_position{
		margin-right: 54%;
	}
}

.chapter-index-element{
	float: left;
	padding: 10px 0 0 20px;
	text-align: left;
	width: 100%;
	/**/
	font-family: Avenir-Black;
	text-transform: uppercase;
	font-size: 13px;
	color: #FFF;
}

.chapter-index-element > p > a{
	font-family: Avenir-Black;
	font-size: 15px;
	margin-right: 10px;
}

.chapter-index-element.index-title-row {
	background: black;
  padding: 10px 20px;
  margin: 14px 0 0px 0;
  color: #787D7F;
  border-top: 1px solid #353A3D;
  border-bottom: 1px solid #353A3D;
  width: 100%;
  min-height: 50px;
}

.chapter-index-element.index-title-row a{
	font-family: Avenir-Black;
	font-size: 13px;
	line-height: 30px;
	color: #787D7F;
	text-transform: uppercase;
}
