
.course-info-row{
	padding: 50px;
	padding-bottom: 20px;
	/*margin-top: -50px;*/
}
.course-info-title{
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	text-transform: capitalize;
	padding-bottom: 10px;
	margin-top: -50px;
	font-size: 36px;
	color: #FFF;
}

.course-info-details{
	font-weight: 300;
	font-family: avenir-book, 'Work Sans';
	font-size: 15px;
	line-height: 30px;
	color: #FFF;
}

.course-info-content{
	background: #000;
	color: #FFF;
}

.course-info-ldr{
	margin-top: 35px;
	font-size: 13px;
	line-height: 30px;
	display: inline;
}

.course-profile{
	width: 100%;
	margin-top: 20px;
	display: block;
	color: #FFF;
}
.course-profile-img{
	font-size: 13px;
	/*width: 20%;*/
	margin-right: 15px;
	display: inline-block;
}
.course-profile-img img{
	width: 60px;
	border-radius: 500px;
}

.course-profile-info{
	/*width: 80$;*/
	/*margin-left: 15px;*/
	display: inline-block;
	text-transform: uppercase;
}
.course-profile-info span{
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	color: #787D7F;
}

.course-profile-social{
	float: right;
	padding-top: 20px;
}

.course-profile-social > i{
	margin-left: 5px;
	font-size: 20px;
	color: #787D7F;
	background: #222628;
	border: 2px solid #222628;
}

.course-video{
    /*position: relative;*/
		position: relative;
		padding-bottom: 52.25%;
		padding-top: 25px;
		height: 0;
}

.course-video > video {
	/*margin-bottom: -6px;
	width: 100%;
	max-width: 1000px;
	min-width: 500px;
	display: block;*/
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}
.player-button{
	font-size: 120px;
}

.course-chapter-box{
	padding: 0;
}

.course-chapter-index{
	height: 500px;
	background: #222628;
	padding: 0 45px;
	overflow: auto;
	padding-bottom: 10px;
}

.course-chapter-search{
	color: #FFF;
	height: 70px;
	border-bottom: 1px solid #353A3D;
}

.course-chapter-search > p { margin-top: 24px; }

.course-chapter-search > p > a{
	text-decoration: none;
	width: 20px;
}

.course-chapter-search > p > a > i{
	margin-right: 10px;
	font-size: 25px;
}

.course-chapter-search > p > a > span {
	text-transform: uppercase;
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	font-size: 13px;
	margin-right: 10px;
}

.course-chapter-search > p > span > input {
	text-transform: uppercase;
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	font-size: 12px;
	padding: 0 6px;
	width: 75%;
	max-width: 300px;
	height: 27px;
	border: none;
	color: #FFF;
	background: #222628;
}

.course-chapter-search > p > span > input[type="text"]::-webkit-input-placeholder {
   color: #787D7F;
}

.course-chapter-collaps{
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	text-transform: uppercase;
	font-size: 13px;
}

#exp-all{
	margin-right: 53%;
}

.table-contents{
	font-size: 13px;
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
  color: #787D7F;
  text-transform: uppercase;
  padding: 28px 0 0 20px;
}

@media screen and (max-width: 1230px) {
	.course-chapter-collaps #exp-all{
		margin-right: 38%;
	}
}

.course-chapter-tab-box{
	padding-right: 0;
}

.chapter-tabs h5{
	text-transform: uppercase;
}

@media screen and (max-width:1160px) {
	.chapter-tabs-ul > li {
		margin-right: 5%;
	}
}

@media screen and (min-width: 2000px) {
	.chapter-tabs-ul > li {
		margin-right: 6%;
	}
}

@media screen and (min-width: 1500px) {
	.tab-content{
		/*width: 900px;*/
		margin: 50px 10px 0;
		padding-bottom: 0px;
	}
}

.tab-panel{
	font-weight: 300;
	font-family: avenir-book, 'Work Sans';
	font-size: 15px;
	line-height: 30px;
	color: #FFF;
}

.course-chapter-content .exp-coll-all a{
	float: left;
	text-decoration: none;
	color: #787D7F;
}

.course-chapter-content a{
	color: #ffffff;
}

/*@media screen and (max-width: 1230px) {
	#chapter_position{
		margin-right: 54%;
	}
}*/

.chapter-index-element > p > a{
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	font-size: 15px;
	margin-right: 10px;
}

.chapter-index-element.index-title-row {
	background: black;
  padding: 10px 20px;
  margin: 14px 0 0px 0;
  color: #787D7F;
  border-top: 1px solid #353A3D;
  border-bottom: 1px solid #353A3D;
  width: 100%;
  min-height: 50px;
}

.chapter-index-element.index-title-row a{
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	font-size: 13px;
	line-height: 30px;
	color: #787D7F;
	text-transform: uppercase;
}

/*recently added*/

.accordion{display: none;}

.course-banner-table-container{
	padding: 0;
  display: table-cell;
  float: none;
}

.course-author-sidebar{
	text-transform: uppercase;
	padding: 40px 40px;
  min-height: 100%;
  background: #f4f4f4;
  display: table-cell;
  float: none;
}

.course-author-sidebar h3{
	margin: 20px 0 20px;
	font-weight: 700;
  color: #5d5d5d;
  font-size: 12px;
}

.course-author-sidebar h3:first-child {margin-top: 0;}

.course-info-static-ldr{
	text-transform: uppercase;
	font-weight: 700;
	/*font-family: avenir-black, 'Work Sans';*/
	color: #5d5d5d;
	margin-right: 40px;
	display: inline-block;
	font-size: 12px;
}

.course-info-dynamic-ldr{
	color: #999;
	font-weight: 400;
	/*font-family: avenir-book, 'Work Sans';*/
	display: inline-block;
	font-size: 12px;
	text-transform: capitalize;
	color: #5d5d5d;
}

#lltv .author-avatar-left{
	top: 0;
	left: 0;
	float: left;
	margin-right: 25px;
}

.author-name-right{
	margin: 15px 0 0;
	font-weight: 700;
	color: #5d5d5d;
}

.coursepage-banner{
	height: 478px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.coursepage-banner-details{
	position: relative;
  top: 6%;
  left: 10%;
  font-size: 15px;
  color: #fff;
  width: 80%;
}

.coursepage-banner-details p { font-size: 17px;}

.coursepage-banner-details h1{
	margin: 0;
	font-weight: 700;
	text-transform: capitalize;
}

.coursepage-banner-details .coursepage-banner-author {
	margin: 20px 0;
	font-weight: 700;
	text-transform: capitalize;
}

.coursepage-banner-details .coursepage-banner-course-details{
	font-weight: 400;
	margin-bottom: 20px;
	line-height: 28px;
}

.tab-content{
  margin: 0 55px;
	min-height: 350px;
}

.nav-tabs {
	margin: 0;
	padding: 0 30px;
}

.nav-tabs{
	margin-left: 10px;
	height: 58px;
}

.chapter-tabs-ul{
	width: 100%;
	padding-right: 0px;
	border-bottom: 1px solid #e6e6e6;
}

.chapter-tabs-ul > li {
	/*using*/
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	font-size: 13px;
	margin-top: 12px;
	margin-right: 6%;
}

.chapter-tabs{
	background: #fff;
	color: #999;
}

.nav-tabs > li > a{
	border: 0;
	color: #999;
	text-transform: uppercase;
	background-color: transparent;
	padding: 10px 2px;
	cursor: pointer;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	color: #5d5d5d;
  cursor: default;
  background-color: transparent;
  text-transform: uppercase;
  border: 0;
}

.nav-tabs > li > a:hover{
	color: #5d5d5d;
	background-color: transparent;
	border: 0;
}

.chapter-index-element{
	text-align: left;
	width: 100%;
	font-weight: 700;
	font-family: avenir-black, 'Work Sans';
	text-transform: uppercase;
	font-size: 13px;
	color: #5d5d5d;
}

#chapter_position{ float: left; }

#chapter_duration{
	color: #5d5d5d;
	float: right;
}

.chapter-index-row{
	min-height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #e6e6e6;
}

.tab-inner-panel{
	font-weight: 300;
	font-family: avenir-book, 'Work Sans';
	font-size: 15px;
	line-height: 30px;
	color: inherit;
}

.tab-inner-panel h5{ font-size: 15px;}

.accordion-container{display: none;}

@media screen and (max-width: 1250px){
	.chapter-tabs-ul > li{
		margin-right: 5%;
	}
}

@media screen and (max-width: 1190px){
	.chapter-tabs-ul > li{
		margin-right: 4%;
	}
}

@media screen and (max-width: 1140px){
	.chapter-tabs-ul > li{
		margin-right: 3%;
	}
}

/*@media screen and (max-width: 1100px){
	.chapter-tabs-ul > li{
		margin-right: 2%;
	}
}*/

/*@media screen and (max-width: 1050px){
	.chapter-tabs-ul > li{
		margin-right: 1%;
	}
}*/

@media screen and (min-width: 1100px){
/*@media screen and (min-width: 768px){*/

	.course-banner-table-container{ width: calc(100% - 362px);}

	.course-author-sidebar{ width: 362px;}
}

@media screen and (max-width: 1100px){
	.course-banner-table-container, .course-author-sidebar, .accordion-container{ display: block; }

	/*.chapter-tabs-ul > li{
		margin-right: 72px;
	}*/

	.chapter-tabs{display: none;}

	.accordion-container{
		font-weight: 700;
		padding: 0 50px;
    font-size: 12px;
    text-transform: uppercase;
	}

	.accordion-section{ border-bottom: 1px solid #e6e6e6; }

	.accordion-header{
		height: 70px;
		line-height: 70px;
		cursor: pointer;
		color: #5d5d5d;
	}

	.accordion-header span{
		float: right;
		margin-top: 26px;
	}

	.accordion-details{

	}

	.accordion-inner{
		text-transform: none;
    font-weight: 400;
    font-size: 16px;
    color: #5d5d5d;
    line-height: 31px;
    padding-bottom: 22px;
    margin-top: -11px;
	}

	.course-author-sidebar p{text-transform: none;}
}

@media screen and (max-width: 600px){
	.coursepage-banner-details h1{font-size: 26px;}

	.chapter-index-row{line-height: 30px;}

	.accordion-container{font-size: 15px;}

	.accordion-header span{
		margin-top: 27px;
		font-size: 12px;
	}

	#chapter_position{
		width: 100%;
		margin-right: 0;
		color: #5d5d5d;
	}

	#chapter_duration{
		margin-right: 0;
		float: none;
		color: #999;
	}
}
