/*main category css*/

.featured-course {
  position: relative;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0;
  height: 286px;
}

.featured-course .course-banner {
  bottom: 0px;
}

.featured-course .bubble-btn {
  text-transform: uppercase;
  background: transparent;
}

.featured-course-content {
  /*clear: both;*/
  padding-top: 50px;
  width: 30%;
  height: 100%;
}

.featured-course-banner-container{
  width: 70%;
  padding: 0;
  height: 100%;
}

.featured-course-tag {
  padding: 10px;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 15px;
  margin-left: 20px;
}

.featured-course-data {
  padding: 20px 20px 30px 20px;
}

.featured-course-title {
  word-spacing: 9999999999999999px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
}

.featured-course-details {
  line-height: 20px;
  margin: 20px 0px;
  font-size: 15px;
}

.featured-course-img{
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}
