/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 */

#lltv .container {
  width: 100%;
  padding: 10px 80px 0px 30px; /*padding right was 30px*/
}

#lltv .navbar-brand {
  height: auto;
}

#lltv .header{
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../images/LLTV_homepage.jpg');
  /*background: transparent;*/
}

.quote-container{
  position: absolute;
  max-width: 600px; /* it was 500px */
  top: 48%;
  left: calc(50% - 575px/2);
  font-size: 36px;
  color: #fff;
  font-family: avenir-black;
}

#lltv .homepage-nav-links {
  padding-top: 27px; /*was 37x */
  color: #FFFFFF;
  font-size: 13px;
  text-transform: uppercase;
  font-family: avenir-black;
}

#lltv .homepage-nav-links li {
  /*was 47px*/
  margin-left: 43px;
}

#lltv .homepage-nav-links .no-btn-nav {
  margin-top: 10px;
}

#lltv .homepage-nav-links li > a {
  color: #FFFFFF;
  padding: 0px;
  cursor: pointer;
}

#lltv .homepage-nav-links li > a:hover {
  background-color: transparent;
}


#lltv .colored-bar{
  position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 0;
}
#lltv .homepage-category-nav {
  /*margin-top: -97px; turn off*/
  /*position: absolute;
  width: 100%;
  bottom: 0;
  margin-left: 0;*/
  height: 100%;
}

#lltv .homepage-category-nav li {
  width: 20%;
  height: 97px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13.5px; /*was 25px */
  font-family: avenir-black;
  text-transform: uppercase;
  position: relative;
}

#lltv .homepage-category-nav li > div {
  position: absolute; /* it was relative */
  height: 100%;
  width:  100%;
  /*top: 55%; turn off  it was 50% */
  /*margin-top: -12.5px; turn off*/
}

#lltv .homepage-category-nav li > div p {
  margin-top: 39px;
}

/*colored bar white arrow*/
#lltv .homepage-category-nav li.active:after {
  content: '';
  width:0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #FFFFFF;
  position: relative;
  top: 67px; /*was 18px original code, it was 58px */
}

#lltv .homepage-category-nav li.active > a {
  background-color: rgba(0,0,0,0);
  border: none;
}

.tab-content {
  margin-top: 75px;
}

/*.tab-category{
  margin-top: 50px;
	margin-left: 10px;
	min-height: 400px;
}*/

.category-titles h3{
  font-size: 36px; /* it was 41px */
  font-family: avenir-black;
  margin-top: 15px;
  margin-bottom: 21px; /* it was 41px */
}

.category-details {
  font-size: 19px;
  font-family: avenir-light;
  line-height: 40px;
  width: 511px;
}

.category-details p{
  margin-bottom: 21px; /* it was 31px */
}

.category-buttons li{
  height: 100%;
  float: left;
  padding-right: 20px;
}

.bubble-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13.5px;
  font-family: avenir-black;
  font-weight: bold;
  cursor: pointer;
}

.sign-up {
  border: 2px solid #FFFFFF;
  margin-top: -10px;
}

.create-account {
  border: 2px solid #CCCCCC;
  color: #AAAAAA;
}

.homepage-footer{
  min-height: 236px;
  background-color: #000;
  color: #fff;
  font-family: avenir-black;
  text-transform: uppercase;
}

/*.footer-list li{
  display: inline;
  padding-right: 100px;
  font-size: 13px;
  color: #989898;
}*/

.footer-list{
  font-size: 13px;
  color: #989898;
}

.footer-list-first-row{ margin: 0 0 10px 0;}

.footer-list-first-row > div > a, .footer-list-second-row > div > a{
  text-decoration: none;
  color: inherit;
}

.footer-copy-text{
  text-align: center;
  color: #989898;
  font-size: 10px;
  margin: 50px 0 0;
  font-family: avenir-medium;
}

.colored-bar-plus-icon{ display: none;}

#accordion{ display: none;}


/*#lltv .homepage-category-nav li:last-child{ display: none;}*/

/* responsive design desktop/laptop*/

@media screen and (max-width: 1060px){
  .category-img-container{
    width: 50%;
  }
  .category-img-container > div > img {
    width: 100%;
  }

  .category-titles h3{
    font-size: 29px;
  }

  .category-details{
    width: 409px;
    font-size: 15px;
  }

  .bubble-btn{ font-size: 14px; }

}

@media screen and (max-width: 992px){
  .category-img-container{
    width: 45%;
    float: left;
  }

  .category-details-container{
    width: 50%;
    float: left;
  }

  .category-img-container > div > img { width: 100%; }

  .bubble-btn{ font-size: 14px; }

}

@media screen and (max-width: 850px){
  .category-img-container{ display: none; } /*turn off category image container*/

  .category-details-container{
    width: 100%;
    float: left;
    margin: 0 calc(100%/4);
  }

  .quote-container{
    width: 300px;
    left: calc(50% - 300px/2); /* it was 348px */
    font-size: 24px;
    top: 18%;
  }

  .quote-container > br:first-child{ display: none;}

  .quote-container img{ width: 70%; }

  /*.category-button-extra{ display: none;}*/

}

@media screen and (max-width: 768px) {
  #lltv .colored-bar{
    /*position: relative;*/
    /*top: calc(100% - 300px);*/

  }

  .category-details{ line-height: 26px;}
  .quote-container{ display: none;}

  .homepage-category-nav{ display: none; }

  #accordion{
    display: block;
    text-align: center;
    margin: 0;
    font-family: avenir-black;
  }

  .panel{
    margin: 0;
    border: 0;
    background: none;
  }

  .panel-body{
    background-color: #fff;
  }

  .panel-title{
    color: #fff;
    font-size: 22px;
    height: 60px;
    line-height: 60px;
  }

  #lltv .homepage-category-nav li.active:after{ display: none;}

  #lltv .homepage-category-nav li{
    width: 100%;
    height: 60px;
    text-transform: capitalize;
    font-size: 22px;
  }

  #lltv .homepage-category-nav li > div p{
    margin: 0;
    height: 50px;
    line-height: 50px;
  }

  .colored-bar-plus-icon{
    display: block;
    right: 10%;
    float: right;
    font-size: 14px;
    top: calc(50% - 7px);
  }

  #details{display: none;}

  .category-details{
    width: 400px;
    margin: 0 auto;
  }

  .category-buttons{
    width: 300px;
    margin: 0 auto;
  }

  .category-buttons li{
    float: none;
    padding-right: 0;
    display: inline-block;
  }

  .footer-collapse{
    position: relative;
    top: 330px;
  }

  .homepage-footer{ text-align: center;}

  .footer-list-first-row{ margin: 0;}

  .footer-list-first-row > div{ margin-bottom: 10px;}

  .footer-list .row:nth-child(2) > div{ margin-bottom: 10px;}

  .footer-copy-text{ margin-bottom: 10px;}
}

@media screen and (max-width: 700px){

  /*.category-details-container{
    width: 90%;
    float: left;
    margin: 0 calc(100%/16);
  }*/

  #lltv .homepage-category-nav li.active:after { display: none;}

}

@media screen and (max-width: 600px){

  #lltv .container{ padding-right: 15px;}

  .category-details-container{
    width: 90%;
    float: left;
    margin: 0 calc(100%/16);
  }

}

@media screen and (max-width: 411px){
  .category-details{ width: 320px;}
}

/*iphone 6 plus*/
@media screen and (max-width:414px) and (min-width:376px){
  .panel-title{ font-size: 26px;}

  .category-details{
    width: 348px;
    line-height: 32px;
    font-size: 16px;
  }

  .bubble-btn{ font-size: 16px; }

}

/*iphone 5*/
@media screen and (max-width: 320px){
  .category-details{
    line-height: 18px;
    font-size: 12px;
    width: 280px;
  }

  .category-details p{ margin-bottom: 15px;}

  .bubble-btn{ font-size: 8px; }
}


/* end of responsive design */
