/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 */

#lltv .container {
  width: 100%;
  padding: 10px 30px 0px 30px;
}

#lltv .navbar-brand {
  height: auto;
}

#lltv .header{
  padding: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url('../images/LLTV_homepage.jpg');
}

#lltv .homepage-nav-links {
  padding-top: 37px; /*was 20x */
  color: #FFFFFF;
  font-size: 13.5px;
  text-transform: uppercase;
  font-family: avenir-black;
}

#lltv .homepage-nav-links li {
  /*was 47px*/
  margin-left: 43px;
}

#lltv .homepage-nav-links .no-btn-nav {
  margin-top: 10px;
}

#lltv .homepage-nav-links li > a {
  color: #FFFFFF;
  padding: 0px;
  cursor: pointer;
}

#lltv .homepage-nav-links li > a:hover {
  background-color: transparent;
}


#lltv .colored-bar{
  position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 0;
}
#lltv .homepage-category-nav {
  /*margin-top: -97px; turn off*/
  /*position: absolute;
  width: 100%;
  bottom: 0;
  margin-left: 0;*/
}

#lltv .homepage-category-nav li {
  width: 20%;
  height: 97px;
  text-align: center;
  color: #FFFFFF;
  /*cursor: pointer; turn off*/
  font-size: 13.5px; /*was 25px */
  font-family: avenir-black;
  text-transform: uppercase;
  position: relative;
}

#lltv .homepage-category-nav li > div {
  position: relative;
  top: 50%;
  margin-top: -12.5px;
}

/*colored bar white arrow*/
#lltv .homepage-category-nav li.active:after {
  content: '';
  width:0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #FFFFFF;
  position: relative;
  top: 58px; /*was 18px */
}

#lltv .homepage-category-nav li.active > a {
  background-color: rgba(0,0,0,0);
  border: none;
}

.tab-content {
  margin-top: 75px;
}

/*.tab-category{
  margin-top: 50px;
	margin-left: 10px;
	min-height: 400px;
}*/

.category-titles h3{
  font-size: 41px;
  font-family: avenir-black;
  margin-top: 25px;
  margin-bottom: 61px;
}

.category-details {
  font-size: 19px;
  font-family: avenir-light;
  line-height: 40px;
  width: 511px;
}

.category-details p{
  margin-bottom: 61px;
}

.category-buttons li{
  height: 100%;
  float: left;
  padding-right: 20px;
}

.bubble-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13.5px;
}

.sign-up {
  border: 2px solid #FFFFFF;
  margin-top: -10px;
}

.create-account {
  border: 2px solid #CCCCCC;
  color: #AAAAAA;
}
