/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 */

#lltv .container {
  width: 100%;
  padding: 10px 30px 0px 30px; /*padding right was 30px*/
}

#lltv .navbar-brand {
  height: auto;
  padding: 6px 0 0 0;
  margin: 0;
}

#lltv .header{
  padding: 0;
  height: calc(100% - 95px);
  background-size: cover;
  background-position: center;
  /*background-image: url('../images/LLTV_homepage_new.jpg');*/
  background-repeat: no-repeat;
}

.quote-container{
  position: absolute;
  max-width: 600px; /* it was 500px */
  top: 9%;
  right: 10%;
  font-size: 40px;
  color: #fff;
  font-family: avenir-black, avenir;
  font-weight: 900;
}

.quote-container p:first-child{
  margin-bottom: -10px;
}

.quote-container .quote-subtitle{
  font-family: avenir-medium;
  font-size: 22px;
}

.quote-container-buttons ul{ margin-bottom: 26px;}

.quote-browse-btn{
  border: 2px solid #9ccc58;
  margin-right: 15px;
}

#lltv .homepage-nav-links {
  padding-top: 27px; /*was 37x */
  color: #5D5D5D;
  font-size: 13px;
  text-transform: uppercase;
  font-family: avenir-black, avenir;
  font-weight: bold;
}

#lltv .homepage-nav-links li {
  margin-left: 43px;
  float: right;
}

#lltv .homepage-nav-links .no-btn-nav {
  margin-top: 10px;
}

#lltv .homepage-nav-links li > a {
  color: #5D5D5D;
  padding: 0px;
  cursor: pointer;
}

#lltv .homepage-nav-links li > a:hover {
  background-color: transparent;
}

#lltv .homepage-category-row{
  padding: 0;
  font-family: avenir-black;
  color: #5D5D5D;
  padding: 50px 40px 0 40px;
}

#lltv .homepage-category-row div.row:first-child p{
  font-size: 24px;
  float: right;
  margin-right: 426px;
}

#lltv .homepage-category-row div:first-child a{
  font-size: 13px;
  float: left;
  color: #5D5D5D;
  margin-left: 546px;
}

#lltv .homepage-courses-row{
  display: flex;
  justify-content: center;
  margin: 0;
}

#lltv .homepage-course-box{
  padding: 0;
  height: 375px;
  width: 284px;
  border: 1px solid #e6e6e6;
  margin: 0 18px 20px 0;
}

#lltv .course-img, .author-avatar{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#lltv .course-img{ height: 201px; }

#lltv .author-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #FFF;
  position: relative;
  top: -25px;
  left: 75%;
}

#lltv .homepage-course-title{
  font-size: 18px;
  text-transform: capitalize;
}

.col-sm-4.homepage-course-box div.row p{
  font-size: 10px;
  text-transform: uppercase;
}

.col-sm-4.homepage-course-box div.row p:first-child{
  float: left;
  margin-right: 85px;
  margin-left: 20px;
}

#lltv .homepage-course-last-row{
  margin: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.discover-lltv-section{
  font-family: avenir-medium;
  padding: 0;
  text-align: center;
  color: #5d5d5d;
}

.discover-lltv-section div.row { margin: 0 0 40px;}

.discover-lltv-section div.row:first-child { margin-top: 40px;}

.discover-lltv-section div.row h1{ font-family: avenir-black;}

.discover-info-row div.col-sm-4 h4{ font-size: 20px;}

.discover-info-row div.col-sm-4 p{ font-size: 15px;}

.discover-icons{
  height: 43px;
  width: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.discover-row-button{
  margin: 0;
  display: flex;
  justify-content: center;
}

.discover-signup-button{
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-family: avenir-black;
  width: 104px;
}


/*delete section*/


/*end delete section*/

.bubble-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13.5px;
  font-family: avenir-black, avenir;
  font-weight: 900;
  cursor: pointer;
}

.sign-up {
  border: 2px solid #FFF;
  margin-top: -10px;
}

.create-account {
  border: 2px solid #FFF;
  /*color: #AAAAAA;*/
}

.homepage-footer{
  min-height: 236px;
  color: #fff;
  font-family: avenir-black, avenir;
  font-weight: 900;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.footer-first-row, .footer-second-row, .footer-third-row { margin: 40px 0 0;}

.footer-first-row div.col-sm-4{
  display: flex;
  justify-content: center;
}

.footer-list{
  font-size: 13px;
  color: #989898;
}

.footer-list-first-row{ margin: 0 0 10px 0;}

.footer-list-first-row > div > a, .footer-list-second-row > div > a{
  text-decoration: none;
  color: inherit;
}

/*.footer-second-row{ text-align: center;}*/

.footer-second-row p{
  margin: 0 0 12px;
  color: #989898;
  font-size: 13px;
}

.footer-second-row div.col-sm-8 form div.form-group input{
  border-radius: 25px;
  width: 300px;
  margin-right: 10px;
}

.footer-second-row div.col-sm-8 form button{background-color: #9CCC58;}

.footer-second-row ul li{display: inline-block;}

.social-media-list{ margin: 0 0 20px;}

.social-media-list li{
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.social-media-list li:first-child{
  margin-right: 30px;
  color: #989898;
  font-size: 10px;
  font-family: avenir-medium, avenir;
  font-weight: 800;
}

.social-media-list li a{
  display: block;
  background-color: #c6c4be;
  height: 34px;
  width: 34px;
  font-size: 20px;
  line-height: 34px;
  color: #fff;
  border-radius: 50%;
}

.colored-bar-plus-icon{ display: none;}

#accordion{ display: none;}


/*#lltv .homepage-category-nav li:last-child{ display: none;}*/

/* responsive design desktop/laptop*/
@media screen and (max-width: 1240px){
  #lltv .homepage-courses-row div.col-sm-4.homepage-course-box:last-child{ display: none;}
}

@media screen and (max-width: 990px){
  #lltv .homepage-courses-row div.col-sm-4.homepage-course-box:nth-child(3){ display: none;}
}

@media screen and (max-width: 1060px){
  .category-img-container{
    width: 50%;
  }
  .category-img-container > div > img {
    width: 100%;
  }

  .category-titles h3{
    font-size: 29px;
  }

  .category-details{
    width: 409px;
    font-size: 15px;
  }

  .bubble-btn{ font-size: 14px; }

}

@media screen and (max-width: 992px){
  .category-img-container{
    width: 45%;
    float: left;
  }

  .category-details-container{
    width: 50%;
    float: left;
  }

  .category-img-container > div > img { width: 100%; }

  .bubble-btn{ font-size: 14px; }

}

@media screen and (max-width: 850px){
  .category-img-container{ display: none; } /*turn off category image container*/

  .category-details-container{
    width: 100%;
    float: left;
    margin: 0 calc(100%/4);
  }

}

@media screen and (max-width: 768px) {

  #lltv .container{
    padding-right: 15px;
    padding-left: 15px;
  }

  .category-details{ line-height: 26px;}

  .quote-container{ display: none;}

  .homepage-category-nav{ display: none; }

  #accordion{
    display: block;
    text-align: center;
    margin: 0;
    font-family: avenir-black;
  }

  .panel{
    margin: 0;
    border: 0;
    background: none;
  }

  .panel-body{
    background-color: #fff;
  }

  .panel-title{
    color: #fff;
    font-size: 22px;
    height: 60px;
    line-height: 60px;
  }

  #lltv .homepage-category-nav li.active:after{ display: none;}

  #lltv .homepage-category-nav li{
    width: 100%;
    height: 60px;
    text-transform: capitalize;
    font-size: 22px;
  }

  #lltv .homepage-category-nav li > div p{
    margin: 0;
    height: 50px;
    line-height: 50px;
  }

  .colored-bar-plus-icon{
    display: block;
    right: 10%;
    float: right;
    font-size: 14px;
    top: calc(50% - 7px);
  }

  #details{display: none;}

  .category-details{
    width: 400px;
    margin: 0 auto;
  }

  .category-buttons{
    width: 300px;
    margin: 0 auto;
  }

  .category-buttons li{
    float: none;
    padding-right: 0;
    display: inline-block;
  }

  .footer-collapse{
    position: relative;
    top: 330px;
  }

  .homepage-footer{ text-align: center;}

  .footer-list-first-row{ margin: 0;}

  .footer-list-first-row > div{ margin-bottom: 10px;}

  .footer-list .row:nth-child(2) > div{ margin-bottom: 10px;}

  .footer-copy-text{ margin-bottom: 10px;}
}

@media screen and (max-width: 700px){

  #lltv .homepage-category-nav li.active:after { display: none;}

}

@media screen and (max-width: 600px){

  .category-details-container{
    width: 90%;
    float: left;
    margin: 0 calc(100%/16);
  }

}

/*iphone 6 plus*/
@media screen and (max-width:414px) and (min-width:360px){
  .panel-title{ font-size: 26px;}

  .category-details{
    width: 348px;
    line-height: 23px;
    font-size: 15px;
  }

  .bubble-btn{ font-size: 16px; }

}

/*iphone 5---it was 320px*/
@media screen and (max-width: 384px){
  .category-details{
    line-height: 18px;
    font-size: 12px;
    width: 280px;
  }

  .category-details p{ margin-bottom: 15px;}

  .bubble-btn{ font-size: 8px; }
}


/* end of responsive design */
