.auth-header > div{
  margin: auto;
  width: 265px;
  padding-bottom: 45px;
}
.auth-template {
  text-transform: uppercase;
  color: #FFFFFF;
}

.auth-template .modal-content {
  background-color: transparent;
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  height: 100%;
}

.auth-template .modal-dialog {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.auth-template .auth-content {
  clear: both;
  margin: 0px auto;
  width: 45%;
  /*height: 100%;*/
}
.auth-login-center{
  /*margin-left: 160px;*/
  padding: 0;
}

.alert-msg{
  color: #ff0000;
  border: 0;
  background-color: transparent;
  padding: 0;
  position: relative;
  left: 25%;
}

.auth-left-column{
  padding-left: 0px;
  padding-right: 30px;
}

.auth-right-column{
  padding-left: 30px;
  padding-right: 0px;
}

@media screen and (max-width: 1000px) {
  .auth-right-column{
    padding-left: 0px;
  }
  .auth-left-column{
    padding-right: 0px;
  }
}

.auth-body .form-group{
  margin-bottom: 30px;
}

.auth-body .form-group > p{
  padding-top: 10px;
}

.auth-body .form-group > p > a{
  color: #29aae1;
  font-size: 12px;
  font-weight: 700;
  /*font-family: Avenir-Black;  */
}

.auth-body .form-group > label{
  font-size: 13px;
  font-weight: 700;
  /*font-family: Avenir-Black;*/
  color: #5d5d5d;
}

.auth-template input:not([type=submit]):not([type=file]) {
  background-color: transparent;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 25px;
  opacity: 1;
  font-size: 13px;
  font-weight: 700;
  /*font-family: Avenir-Black;*/
  /*color: #fff;*/
}

.auth-footer{
  padding-top: 25px;
}

.auth-footer > .col-md-12{
  margin-top: 24px;
}

.auth-close {
  /*padding: 20px;*/
  margin: 30px 30px 46px 0;
  height: 24px;
  cursor: pointer;
}

.submit-btn {
  border: none;
  background-color: #9CCC58;
  font-weight: 700;
  /*font-family: Avenir-Black;*/
  font-size: 13px;
  width: 120px;
}
.submit-btn-sing-up{
  width: 161px;
}


.switch-btn {
  background-color: #a09d98;
  border: none;
  font-weight: 700;
  /*font-family: Avenir-Black;*/
  font-size: 13px;
}

.switch-btn-sign-up {
  width: 120px;
  margin-right: 15px;
}

.switch-btn-sign-in {
  width: 155px;
  margin-right: 10px;
  padding-right: 15px;
  padding-left: 17px;
}

.modal-backdrop.auth-backdrop.in {
  opacity: 1;
  background: #fff;
}

@media screen and (max-width: 768px){
  .alert-msg{ left: 0;}
}

@media screen and (max-width: 435px) {

  .auth-header > div{ width: 215px;}

  .auth-header > div > .logo-img { height: 41px;}

  .auth-footer{ text-align: center;}

  .auth-footer .pull-right { float: none !important;}

  .auth-footer button{ margin-bottom: 10px;}

  .auth-footer .switch-btn-sign-in{ margin: 0 auto;}

  .auth-footer .switch-btn-sign-up{ margin: 0 auto;}

}
