.profile-sidebar{
  background-color: #000;
  height: calc(100vh - 95px);
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  /*font-family: avenir-black, 'Work Sans';*/
}

.anchor-link{
  color: #FFF;
}

.mycourses-link, .certificates-link{
  font-size: 13px;
}

.anchor-link:hover{
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

.icon-star{
  margin-bottom: 40px;
  margin-right: 20px;
}

.profile-setting-container{
  margin-left: 46px;
  margin-top: 53px;
  margin-bottom: 40px;
}

.editprofile-link{
  color: #FFF;
}

.profile-video-history{
  background-color: #2E3335;
  height: calc(100vh - 95px);
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  /*font-family: avenir-black, 'Work Sans';*/
}

.profile-welcome{
  text-transform: capitalize;
}

.profile-course-message{
  color: #787D7F;
  font-size: 13px;
}

.profile-video-history .profile-welcome, .profile-course-message, .browse-btn{
  margin-left: 80px;
  margin-bottom: 40px;
  font-weight: 700;
}

.profile-video-history h1{
  margin-top: 50px;
}

@media screen and (max-width: 768px) {

  .profile-sidebar{ height: inherit;}
}

/*account css*/
.account-setting-container{
  padding: 0;
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: #e0e1e2;
  color: #5d5d5d;
}

.account-sidebar{
  height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  /*font-family: avenir-black, 'Work Sans';*/
  font-size: 13px;
}

.account-option-slide{
  background-color: #f4f4f4;
  min-height: 100vh;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 700;
  /*font-family: avenir-black, 'Work Sans';*/
}

.account-option-box{
  min-height: 60px;
  padding: 0 0 0 45px;
  line-height: 60px;
  cursor: pointer;
}

.account-active { background-color: #f4f4f4;}

.offset-responsive-container, .account-input-container{ padding: 0; color: #5d5d5d;}

.account-email-title{
  text-transform: capitalize;
  margin: 40px 0 22px;
  font-weight: 700;
  font-size: 25px;
}

.account-email-text{
  font-size: 13px;
  margin-bottom: 24px;
  line-height: 26px;
  text-transform: none;
  font-weight: 400;
}

.account-option-slide input:not([type=submit]):not([type=file]) {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 25px;
  opacity: 1;
  font-size: 13px;
  font-weight: 700;
}

.account-option-slide input[type="radio"], input[type="checkbox"]{
  margin: 3px 0 0;
  margin-left: -20px;
}

.account-password-title{
  margin: 60px 0 26px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 25px;
}

.personal-form-group{ margin-right: 20px; }

.account-date-select{
  width: 170px;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 25px;
  opacity: 1;
  font-size: 13px;
  font-weight: 700;
  /*padding-left: 15px;*/
}

.account-month-select{ margin-right: 20px;}

.radio-month-option{ padding-right: 20px;}

.radio-month-option, .radio-single-option{font-weight: 700;}

@media screen and (max-width: 930px) {
  .radio-single-option{ margin-left: 0 !important;}
}

@media screen and (max-width: 768px) {

  /*.account-sidebar{ height: inherit;}*/
  .account-sidebar, .account-option-slide{ height: initial;}

  .account-option-box{
    padding: 0;
    text-align: center;
  }

  .offset-responsive-container{ text-align: center;}

  .account-email-text{ padding: 0 50px 30px;}

  .account-input-container{
    width: 300px;
    margin: 0 auto 30px;
  }

  .personal-form-group{ margin-right: 0; }

  .account-date-select{
    float: none;
    margin: 20px auto 0;
  }

}
