a:hover{text-decoration: none;}

.modal-backdrop.search-backdrop.in {
  opacity: .95;
  background: #fff;
}

.search-modal{
  clear: both;
  font-weight: 700;
  font-family: avenir-black, 'Work Sans';
  text-transform: capitalize;
  color: #5d5d5d;
}

.search-modal div.row:first-child{ margin: 0;}

.search-modal div.row:nth-child(2){
  width: 80%;
  margin: 0 auto;
}


.search-modal-close{
  /*padding: 20px;*/
  margin: 30px 30px 0 0;
  height: 24px;
}

.search-modal-title{
  /*text-transform: capitalize;*/
  margin: 0 0 10px 0;
}

.custom-typehead{
  width: 80%;
  margin: 0 auto;
}

.custom-typehead .dropdown-menu{
  background-color: transparent;
  top: 170px !important;
  border: 0;
  box-shadow: none;
}
.custom-typehead .dropdown-menu li{
  margin: 20px 0;
  cursor: pointer;
}

.custom-typehead .dropdown-menu li a {
  padding: 3px 0px;
  font-size: 30px;
  color: #a09d98;
  font-weight: 300;
  font-family: avenir-book, 'Work Sans';
}

.search-modal .custom-typehead input:not([type=submit]):not([type=file]){
  background-color: transparent;
  box-shadow: none;
  border: 0;
  height: 70px;
  border-radius: 0px;
  font-size: 55px;
  font-weight: 700;
  font-family: avenir-black, 'Work Sans';
  color: #5d5d5d;
  padding: 0;
}

.custom-typehead .dropdown-menu li div{
  padding-bottom: 12px;
  font-size: 24px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  background-color: transparent;
  color: #a09d98;
}
