/*teach-banner-row css*/

.teach-banner-row, .teach-learn-row, .teach-questions-row, .teach-form-row,
.teach-learn-icons{
  margin: 0;
}

.teach-banner-row{
  height: calc(100vh - 95px);
  background-size: cover;
  background-position: center;
  background-image: url('../images/LLTV_TEACH_banner.jpg');
}

.teach-banner-container{
  color: #fff;
  /*position: relative;
  top: 30%;
  left: 20%;*/
  max-width: 500px;
  margin: 83px auto 0 60px;
  font-size: 24px;
}

.teach-banner-container h1{
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 40px;
}

/*.teach-banner-container h1:nth-child(2),*/
.teach-banner-container p:nth-child(2){margin-bottom: 30px;}

.teach-banner-container p{
  margin-bottom: 36px;
  font-size: 20px;
}

/*teach-learn-row css*/

.teach-learn-row, .teach-questions-row, .teach-form-row{
  text-align: center;
  color: #5d5d5d;
}

.teach-learn-row h3, .teach-questions-row h3, .teach-form-row h3{
  margin: 60px 0 70px;
  font-weight: 700;
}

.teach-learn-icons{margin: 0 150px;}

.teach-learn-icons div.col-md-4{padding: 0;}

.row.teach-learn-icons div.col-md-4 p{margin: 20px 0;}

.teach-learn-row > div.discover-row-button{margin: 20px 0 50px;}

.teach-learn-row > div.discover-row-button > div.submit-btn{width: 190px;}

/*teach-questions-row css*/

.teach-questions-row{
  background-color: #f4f4f4;
}

.teach-questions-row div.col-sm-10.col-sm-offset-1{
  padding: 0;
  text-align: left;
}

.teach-questions-row div.col-sm-10.col-sm-offset-1 ul{margin-bottom: 50px;}

/*teach-form-row css*/
