<div id="landing-homepage" style="height: 100%;">

  <div class="row" style="margin: 0; height: 100%;">

    <div class="container" style="height: 100%; padding: 0;">
      <div style="width: 100%; height: 95px;"></div><!-- add height behind navbar-->
      <div class="col-md-12 header" style="background-image: url('../images/LLTV_homepage_new.jpg')">
        <div class="quote-container">
          <p>Learn from experts.</p>
          <p>Anytime, anywhere</p>
          <div class="quote-subtitle">Expand your knowledge in every way possible.</div>
          <div class="quote-container-buttons">
            <ul>
              <li>
                <a ui-sref="categories.show">
                  <div class="quote-browse-btn bubble-btn pull-left">
                    Browse all courses
                  </div>
                </a>
              </li>
              <li>
                <div ng-controller="AuthModalCtrl">
                  <div class="quote-create-btn pull-left bubble-btn create-account" ng-click="openModal('register')">
                      Create Account
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div><!-- end of row -->

  <!-- popular courses -->
  <div class="row" style="margin: 0;">
    <div class="col-sm-12 homepage-category-row" style="margin-top: 70px;">
      <div class="row" style="margin: 0;">
        <div class="col-sm-6 homepage-category-left" style="padding: 0;">
          <div class="homepage-category-title-box">
            <p>Popular videos</p>
          </div>
        </div>
        <div class="col-sm-6 homepage-category-right" style="padding: 0;">
          <a>See All</a>
        </div>
      </div>
      <div class="row homepage-courses-row">

        <div class="popCourse-section" ng-repeat="popCourse in popularCourses">

          <div class="col-sm-3 homepage-course-box">
            <div class="row" style="margin:0;">
              <div class="course-img" ng-style="{'background-image':'url({{popCourse.banner_url}})'}"></div>
              <!-- <div class="course-img" style="background-image: url('../images/cabin.png')"></div> -->
              <div class="author-avatar" style="background-image: url('../images/1.jpg')"></div>
            </div>
            <div class="row" style="margin:0;">
              <p class="homepage-course-title">{{popCourse.title}}</p>
            </div>
            <div class="row homepage-course-last-row">
              <p>author's name</p>
              <p>{{popCourse.duration | secondsToHHMM | date: "H'H' mm'M'"}}</p>
            </div>
          </div>

        </div>

      </div>


    </div>

  </div>
  <!-- end popular courses -->
  <div class="" ng-repeat="category in homeCategories">
    <div class="row" style="margin: 0;">
      <div class="col-sm-12 homepage-category-row">
        <div class="row" style="margin: 0;">
          <div class="col-sm-6 homepage-category-left" style="padding: 0;">
            <div class="homepage-category-title-box">
              <p>{{category.title}}</p>
            </div>
          </div>
          <div class="col-sm-6 homepage-category-right" style="padding: 0;">
            <a ui-sref="category.show({id: category.id })">See All</a>
          </div>
        </div>

        <div class="row homepage-courses-row">

          <div class="popCourse-section" ng-repeat="course in category.courses">

            <div class="col-sm-3 homepage-course-box">
              <div class="row" style="margin:0;">
                <div class="course-img" ng-style="{'background-image':'url({{course.banner_url}})'}"></div>
                <div class="author-avatar" style="background-image: url('../images/1.jpg')"></div>
              </div>
              <div class="row" style="margin:0;">
                <p class="homepage-course-title">{{course.title}}</p>
              </div>
              <div class="row homepage-course-last-row">
                <p>author's name</p>
                <p>{{course.duration | secondsToHHMM | date: "H'H' mm'M'"}}</p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- discover learning library tv -->
  <div class="row" style="margin: 0;">
    <div class="col-sm-12 discover-lltv-section">
      <div class="row">
        <h1>Discover Learning Library TV</h1>
      </div>
      <div class="row discover-info-row">
        <div class="col-sm-4" style="padding: 0;">
          <div class="discover-icons" style="background-image: url('../images/lltv_books.png')"></div>
          <h4>Unlimited Access</h2>
          <p>
            Choose exacty what you'd like to<br>
            learn from our extensive<br>
            subscription library
          </p>
        </div>
        <div class="col-sm-4" style="padding: 0;">
          <div class="discover-icons" style="background-image: url('../images/lltv_school.png')"></div>
          <!-- <span class="glyphicon glyphicon-education discover-icons" aria-hidden="true"></span> -->
          <h4>Learn from the Experts</h2>
          <p>
            Learn from industry experts who are<br>
            passionate about teaching
          </p>
        </div>
        <div class="col-sm-4" style="padding: 0;">
          <div class="discover-icons" style="background-image: url('../images/lltv_lightbulb.png')"></div>
          <!-- <span class="glyphicon glyphicon-education discover-icons" aria-hidden="true"></span> -->
          <h4>Learn Anytime, Anywhere</h2>
          <p>
            Switch between your devices<br>
            without losing your place.
          </p>
        </div>
      </div>
      <div class="row discover-row-button">
        <div class="bubble-btn submit-btn discover-signup-button" ng-controller="AuthModalCtrl" ng-click="openModal('register')">Sign Up</div>
      </div>
    </div>
  </div>
  <!-- end discover learning library tv -->

  <div class="collapse-test" ng-include="'footer/_footer.html'"></div>
