<ul class="nav nav-<%= level.to_words ordinal: true %>-level collapse">
  <% chapters.each do |chapter, children| %>
    <li>
      <a href="<%= course_chapters_path(chapter) %>"><%= chapter.title %><% if !children.empty? %><span class="fa arrow"></span><% end %></a>
      <%= render( partial: 'admin/shared/chapter_dropdown', locals: { chapters: children, level: level + 1 }) if children %>
    <li>
  <% end %>
</ul>