<div>
  <img src="/images/LLTV_x.png" class="auth-close pull-right" ng-click="close()">
</div>
<div class="auth-content">
  <div class="auth-header">
    <div>
      <img class="logo-modal-img" src="/images/lltv_logo_final.png">
    </div>
  </div>
  <div ng-if='errors.length > 0' class="alert alert-danger alert-msg">{{ errors }}</div>
  <form ng-submit="submitPasswordReset(resetPasswordForm)" role="form" ng-init="resetPasswordForm = {}" style="height: 100%;">
    <div class="col-sm-6 col-sm-offset-3 auth-login-center">
      <div class="auth-body">
        <div class="form-group">
          <label>Enter email</label>
          <input type="email" name="email" ng-model="resetPasswordForm.email" required="required" class="form-control"/>
        </div>
      </div>
      <div class="auth-footer">
        <button type="submit" class="bubble-btn submit-btn pull-right">Reset</button>
        <div class="bubble-btn switch-btn switch-btn-sign-in pull-right text-center" ng-click="close()">cancel</div>
      </div>
    </div>
  </form>
</div>
