<div>
  <img src="/images/LLTV_x.png" class="auth-close pull-right" ng-click="close()">
</div>
<div class="auth-content">
  <div class="auth-header">
    <div>
      <img class="logo-modal-img" src="/images/lltv_logo_final.png">
    </div>
  </div>
  <div ng-if='errors.length > 0' class="alert alert-danger alert-msg">{{ errors }}</div>
  <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" style="height: 100%;">
    <div class="col-sm-6 col-sm-offset-3 auth-login-center">
      <div class="auth-body">
        <div class="form-group">
          <label>email or username</label>
          <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
        </div>

        <div class="form-group">
          <label>password</label>
          <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
          <p class='pull-right' ng-click="switch('resetPassword')"> <a href="#">forgot password?</a></p>
        </div>
      </div>
      <div class="auth-footer">
        <button type="submit" class="bubble-btn submit-btn pull-right">Sign in</button>

        <div class="bubble-btn switch-btn switch-btn-sign-in pull-right" ng-click="switch('register')">create account</div>
      </div>
    </div>
  </form>
</div>
