<!-- <div class="col-md-12"> -->
  <div class="row" style="height: 100%; margin: 0;">
    <div class="gray-box">

      <div class="row" style="margin: 0;">
        <div>
          <img src="/images/LLTV_x.png" class="close-unlock pull-right" ng-click="close()">
        </div>
      </div>

      <div class="row" style="margin: 0;">
        <div class="lock-container">
          <img src="/images/LLTV_lock.png"/>
        </div>
      </div>

      <div class="row" style="margin: 0;">
        <h1 class="unlock-title">unlock this video</h1>
      </div>


      <div class="row" style="margin: 0;">
        <p class="unlock-description">finish watching the rest of
        video by signing up for a monthly subscription or making
        a one time purchase below.</p>
      </div>

      <div class="row" style="margin: 0;">

        <div class="col-sm-8 col-sm-offset-2 col-responsive">
          <div class="bubble-btn submit-btn subscribe-btn text-center"
          ng-click="switch('signupPayment')">
            subscribe to us
          </div>

          <div class="bubble-btn switch-btn purchase-btn text-center"
          ng-click="switch('signupPayment', subs[{plan: 'one_time', amount: '12.99'}])">
            purchase video
          </div>
        </div>

      </div>

    </div>

  </div>
<!-- </div> -->
