<!DOCTYPE html>
<html>
<head>
  <title>LLTV Admin</title>
  <%= stylesheet_link_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
    </div>
</body>
</html>