<!DOCTYPE html>
<html>
<head>
  <title>LLTV</title>
  <base href="/">
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="lltv" ng-app="lltv">
	<div ng-include="'nav/_nav.html'" ng-controller="NavCtrl"></div>
	<div class="content-container" ng-class="{'homepage-content-container': isActive('/')}" ng-controller="MainCtrl" style="position: absolute; height: 100%;">
    <ui-view><%=yield%></ui-view>
  </div>
</body>
</html>
