<!DOCTYPE html>
<html>
<head>
  <title>LLTV</title>
  <%= stylesheet_link_tag    'homepage' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
</head>
<body id="lltv-homepage" ng-app="lltv">
  <%= yield %>
</body>
</html>
